                                   body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

#background {
  background-image:url(./images/upgraded-points-KVym2PAn1gA-unsplash.jpg);
  background-size: 100%;
}

#searchResultsBackground {
  background-image:url(./images/sean-oulashin-KMn4VEeEPR8-unsplash.jpg);
  background-size: 100%;
}
